body{
    background-color: antiquewhite;
}


li{
    text-decoration: black;
    font-size: 60px;
}

.gombok{
    font-size: 60px;
    
}

.kep{
    width: 500px;
    height: 450px;
}

.border{
    text-align: center;
}